@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
/*===== Font weight =====*/
/*===== Colores =====*/
/*===== Font and typography =====*/
/*===== Margenes =====*/
/*===== z index =====*/
/*===== Rotate img =====*/
/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  color: #141414;
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 5rem 0 2rem;
}

.sectionTitle {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.sectionTitle::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #141414;
}

/*===== LAYOUT =====*/
.bdGrid {
  display: grid;
  grid-template-columns: 100%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: #141414;
  color: #fff;
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-0.25rem);
}

.buttonLight {
  display: inline-block;
  color: #141414;
  font-weight: 700;
  align-items: center;
}

.buttonIcon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.buttonLight:hover .buttonIcon {
  transform: translateX(0.25rem);
}

.lHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f2f2f2;
}

/*===== NAV =====*/
.nav {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: #fff;
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: 2rem;
}

.nav__logo {
  width: 3rem;
  margin-right: -8rem;
}

.nav__toggled,
.nav__shop {
  font-size: 1.3rem;
  cursor: pointer;
}

.section__title{
  margin-top: 3rem;
}

.nav_user{
  font-size: 1.3rem;
  cursor: pointer;
  margin-right: -15px;
}

.logoHome{
  margin-left: 1rem;
}

.carrito{
  margin-right: 1rem;
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 45%;
  width: 4px;
  height: 4px;
  background-color: #141414;
  border-radius: 50%;
}

/*Change color header*/
.scrollHeader {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*===== HOME =====*/
.home {
  background-color: #f2f2f2;
  overflow: hidden;
}

.home__container {
  height: calc(100vh - 3rem);
}
.home__sneaker {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}
.home__shape {
  width: 220px;
  height: 220px;
  background-color: #141414;
  border-radius: 50%;
}
.home__img {
  margin-right: 1rem;
  margin-top: 1.1rem;
  position: absolute;
  top: 1.5rem;
  width: 57%;
  transform: rotate(-30deg);
}
.home__new {
  display: block;
  font-size: 600;
  font-weight: 1rem;
}
.home__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.home__description {
  margin-bottom: 3rem;
}

.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  margin-bottom:20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* Ajusta el tamaño de la flecha según sea necesario */
  border-right: 20px solid transparent;
  border-top: 20px solid #000;
}


/*==== SECTION TITLE SHOP ====*/
.section__title {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-top: 4rem;
}

.section__title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #141414;
}

/*===== FEATURED =====*/
.featured__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sneaker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.sneaker__sale {
  position: absolute;
  left: 0.5rem;
  background-color: #141414;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  transform: rotate(-90deg);
  letter-spacing: 0.1rem;
}
.sneaker__img {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__imgTravis{
  width: 95%;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__imgredd{
  width: 90%;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__imgCanyon{
  width: 85%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}
.sneaker__imgFrozen{
  width: 85%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__imgAirforce{
  width: 85%;
  margin-top: 1.9rem;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__imgCactus{
  width: 85%;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__imgbonner{
  width: 100%;
  margin-bottom: 1.5rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.sneaker__name, .sneaker__precio {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
}

.sneaker__nameFrozen{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1.5rem;
}
.sneaker__namebonner{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0.9rem;
}
.sneaker__nameCactus{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
}
.sneaker__nameredd{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}
.sneaker__nameAirforce{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}
.sneaker__nameFrzn{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.3rem;
}
.sneaker__nameCanyon{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}
.sneaker__nameCan{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}
.sneaker__nameMidnight{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.3rem;
}
.sneaker__nameFearless{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.sneaker__nameDior{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1.5rem;
}

.sneaker__nameTravis{
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.5rem;
}

.sneaker__name {
  margin-bottom: 0.5rem;
}
.sneaker__preci {
  margin-bottom: 1rem;
}

.sneaker:hover {
  transform: translateY(-0.5rem);
}

.sneaker__pages {
  margin-top: 3rem;
}

.sneaker__pag {
  padding: 0.5rem 1rem;
  border: 1px solid #141414;
}

.sneaker__pag:hover {
  background-color: #141414;
  color: #fff;
}

#dnk{
  margin-top: -3rem;
}

#dnk-text{
  margin-top: -2rem;
}

#newB{
  width: 100%;
  margin-top: -4rem;
  margin-left: -4rem;
}

#trvis{
  margin-top: 2rem;
}

#trvis-text{
  margin-top: 1rem;
}

#onyx{
  margin-top: -2rem;
}

#onyx-text{
  margin-top: 0;
}

/*===== COLLECTION =====*/
.collection__container {
  row-gap: 2rem;
  justify-content: center;
}

.collection__card {
  position: relative;
  display: flex;
  height: 328px;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.collection__data {
  align-self: flex-end;
}

.collection__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
}

.collection__img_womens{
  position: absolute;
  top: -17px;
  right: 0;
  width: 230px;
}

.collection__name {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.collection__description {
  margin-bottom: 1rem;
}

.collection__card:hover {
  transform: translateY(-0.5rem);
}

/*===== OFFER =====*/
.offer__container {
  grid-template-columns: 55% 45%;
  -moz-column-gap: 0;
       column-gap: 0;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
}

.offer__data {
  padding: 4rem 0 4rem 1.5rem;
}

.offer__title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.offer__description {
  margin-bottom: 1.5rem;
}

.offer__img {
  width: 100%;
}

/*===== NEW COLLECTION  =====*/
.new__container {
  row-gap: 2rem;
}

.new__mens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  padding: 2rem;
}

.new__mensImg {
  width: 276px;
  margin-bottom: 1.5rem;
}

.new__title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.new__preci {
  display: block;
  margin-bottom: 1.5rem;
}

.new__sneaker {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new__sneakerCard {
  position: relative;
  padding: 3.5rem 1.5rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new__sneakerImg {
  height: fit-content;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
}

.new__sneakerOverlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(138, 138, 138, 0.3);
  transition: 0.3s;
}

.new__sneakerCard:hover .new__sneakerOverlay {
  bottom: 0;
}

/*===== NEWSLETTER =====*/
.newsletter__container {
  background-color: #141414;
  color: #fff;
  padding: 2rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.newsletter__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.newsletter__description {
  margin-bottom: 2.5rem;
}

.newsletter__subscribe {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.newsletter__input {
  outline: none;
  border: none;
  width: 90%;
  font-size: 0.938rem;
}

.newsletter__input::-moz-placeholder {
  color: #141414;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 600;
}

.newsletter__input:-ms-input-placeholder {
  color: #141414;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 600;
}

.newsletter__input::placeholder {
  color: #141414;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 600;
}

/*===== FOOTER =====*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__box {
  margin-bottom: 2rem;
}

.logo{
  width: 6rem;
}

.footer__title {
  font-size: 1.25rem;
}

.imgfooter{
  max-width: 101px;
}

.footer__link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0.5rem;
}

.footer__social {
  font-size: 1.5rem;
  margin-right: 1.25rem;
}

.footer__copy {
  padding-top: 3rem;
  font-size: 0.813rem;
  color: #141414;
  text-align: center;
}

/*===== WOMEN SNEAKERS =====*/
.women__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 578px) {
  .collection__container {
    grid-template-columns: 415px;
  }

  .collection__img {
    width: 260px;
  }

  .offer__container {
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
  }

  .offer__img{
    width: 60%;
  }

  .offer__data {
    text-align: center;
  }

  .new__mens {
    align-items: center;
  }
  .home__img{
    width: 31%;
  }

}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding: 3rem 0.3rem;
  }

  .section__title::after {
    width: 76px;
  }

  /*===== NAV =====*/
  .nav {
    height: 4.5rem;
  }

  .nav__menu {
    /*margin-left: 50rem;*/
    margin-left: auto;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav_logout{
    font-size: 1rem;
    
  }

  .nav__logo {
    width: 3rem;
  }


  /*===== HOME =====*/
  .home__container {
    height: 100vh;
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  .home__sneaker {
    order: 1;
  }

  .home__shape {
    width: 376px;
    height: 376px;
  }

  .home__img {
    width: 100%;
    top: 3.5rem;
    right: 0;
    left: -1rem;
  }

  .newsletter__container {
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }

  .newsletter__description {
    margin-bottom: 0;
  }

  .newsletter__subscribe {
    width: 360px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
@media screen and (min-width: 1024px) {
  .bdGrid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
 
  .collection__container {
    grid-template-columns: repeat(2, 415px);
  }

  .new__container {
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
  }

  .new__mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }

  .new__mensImg {
    margin-bottom: 3rem;
  }
  .new__sneakerImg {
    height: fit-content;
    align-items: center;
    margin-top: 5rem;
  }
  
}/*# sourceMappingURL=styles.css.map */

.contenedor_log{
  margin-left: 37rem;
  margin-right: 37rem;
  margin-top: 8rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 12px 10px rgba(59,59,59,0.41);
  -webkit-box-shadow: 0px 0px 12px 10px rgba(59,59,59,0.41);
  -moz-box-shadow: 0px 0px 12px 10px rgba(59,59,59,0.41);
}

.login{
  padding: 2rem;
}

.log_button{
  padding-top: 0.7rem;
}

hr.solid {
  border-top: 3px solid #989797;
}

.log_button_google, 
.log_button_facebook{
  padding: 0.5rem;
  
}
.boton{
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#000000;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color: transparent;
border-width: 3px;
border-style: solid;
border-color: #000000;
}

.createaccount{
  font-size: 15px;
  opacity: 45%;
  text-decoration-line: underline;
}
.contenedor_crear{
  display: flex;
  flex-direction: column;
}
.botones_crear{
  padding: 2rem;
}

.formulario{
  display: flex;
  flex-direction: column;
}

table{
  margin: 0rem;
  border: 3px solid black;
  display: flex;
  margin-right: 40rem;
}

.operaciones{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border:none;
}
.botonBorrar{
  
  width: 5rem;
  
  margin-top: 2rem;
}
.botonActualizar{
  
  width: 10rem;
  
  margin-bottom: 2rem;
}

td{
  text-align: center;
  border: 2.5px solid black;
  margin:1rem;
}

img{
  width: 250px;
}

.contenedor{
  margin-top: 10rem;
  margin-left: 7rem;
  margin-right:5rem;
}

.logoAdmin{
  height: 700px;
  padding: 7rem;
  margin-top: -32.5rem;
  margin-left: 50rem;
}
.logoGrande{
  min-width: 600px;
  
  opacity: 33%;
}

.seccion{
  margin-top: 10rem;
  margin-right: 50rem;
} 

.boton_crear{
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  color:#000000;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  }
.contenedorAdmin{
  margin-top: 3rem;
  margin-left: 7rem;
  margin-right:5rem;
}

.lognnn{
  width: 100%;
  padding: 100px 15px;
  background: linear-gradient( rgba(255, 255, 255, 0), rgba(0, 0, 0, .7)), url("../img/0f2603f2906b312521059e5dacd7ea76.jpeg");
  image-rendering: auto;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff00;
  color: #fff;
  border: 1px solid #ddd;
  outline: none;
  box-sizing: border-box;
}
.container input::placeholder{
  color: #fff;
}

.container .buttonLogin {
  width: 100%;
  padding: 5px 210px;
  background-color: #9a9ea08a;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.container .buttonSignin {
  width: 100%;
  padding: 5px 203px;
  background-color: #9a9ea08a;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.container .buttonLogin:hover {
  background-color: #656c7096;
}

.container {
  width: 100%;
  backdrop-filter: blur(10px); 
  max-width: 500px;
  margin: 10.3rem auto;
  padding: 20px;
  color: #fff;
  border-radius: 1rem;
}

.createaccount{
  text-align: center;
  margin-top: 20px;
}

.createaccount a{
  color: #fff;
}

/* Estilos para el formulario de pago */
.formPago {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="number"],
.formGroup input[type="email"],
.formGroup select {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.formGroup input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.formGroup input[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
    margin: 5rem auto;
  }

  .lognnn{
    width: 82.2vh;
  }
  
  .container .buttonSignin {
    padding: 5px 167px; 
  }

  .container .buttonLogin{
    padding: 5px 219px;
  }

  html{
    scroll-behavior: smooth;
    margin-left: -3rem;
    width: 82vh;
  }
}

@media screen and (max-width: 430px) {
  .container {
    padding: 10px;
    margin: 5rem auto;
  }

  .lognnn{
    max-width: 46.3vh;
  }
  
  .container .buttonSignin {
    padding: 5px 110px; 
  }

  .container .buttonLogin{
    padding: 5px 169px;
  }

  html{
    scroll-behavior: smooth;
    max-width: 56.5vh;
  }

  .logoHome{
    margin-left: -13rem;
  }

  .section__title{
    margin-top: -1rem;
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.logoHome{
  animation: rotateLogo 4s linear infinite;
}

.sneaker__pages {
  margin-top: 3rem;
}

.sneaker__pag {
  padding: 0.5rem 1rem;
  border: 1px solid #141414;
}

.sneaker__pag:hover {
  background-color: #141414;
  color: #fff;
}
